<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гулдер.kz - Sign Up</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required>
        <br><br>
        <label for="full_name">Full name:</label>
        <input type="text" name="full_name" id="full_name" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" required>
        <br><br>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>
